.noencontrado {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noencontrado h1 {
    color: black;
}

.noencontrado a {
    color: var(--primary);
    text-decoration: none;
    font-size: 3rem;
    border: 0.5px solid var(--primary);
    padding: 1rem 5rem;
    transition-property: background-color;
    transition-duration: 0.8s;    
}

.noencontrado a:hover{
    background-color: var(--primary);
    color:var(--blanco)    
}